body {
  background-image: url(../images/table.png);
  background-size: cover;
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
h1 {
  text-transform: capitalize;

  color: goldenrod;
}
#result-el {
  font-style: italic;
  color: white;
}
h3 {
  color: red;
}
button {
  width: 150px;
  color: #016f32;
  background-color: goldenrod;
  text-transform: uppercase;
  padding: 5px 0;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}
/* style the button according to the provided design
text color - #016f32
width - 150px
background - goldenrod*/
#message-el {
  font-style: italic;
}
