body {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}
h1 {
  text-transform: capitalize;

  color: goldenrod;
}
#result-el {
  font-style: italic;
  color: blue;
}
h3 {
  color: green;
}
/* style the button according to the provided design
text color - #016f32
width - 150px
background - goldenrod*/
