body {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
p {
  font-size: 3rem;
  text-transform: capitalize;
  color: purple;
}
